* {
    background-color: gray;
}
.buttonDisplay {
    display: flex;
    justify-content: center;
    
}

#optionDisplay, #pcChoiceDisplay, #chosenOption, #result, #roundResult, #computerScore, #playerScore, #roundsPlayed {
    text-align: center;
}